<!DOCTYPE html>
<!-- uvalib WebComponents: set @UVALIB to site to load components from -->
<% @UVALIB = 'https://wwwstatic.lib.virginia.edu/bower_components' %>
<script type="text/javascript" src='<%= "#{@UVALIB}/webcomponentsjs/webcomponents-lite.js" %>' > </script>
<link rel="import" href='<%= "#{@UVALIB}/uvalib-theme/uvalib-theme.html" %>' />
<link rel="import" href='<%= "#{@UVALIB}/uvalib-header/uvalib-header.html" %>'  />
<link rel="import" href='<%= "#{@UVALIB}/uvalib-footer/uvalib-footer.html" %>'  />

<html>
<uvalib-header></uvalib-header>
  <head>
    <title>Sdc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<uvalib-footer></uvalib-footer>